<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/dplayer/1.22.2/DPlayer.min.css">
    <script src="https://cdn.bootcss.com/dplayer/1.22.2/DPlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js"></script>
</head>

    <div id="dplayer"></div>

</body>
<script>
    const dp = new DPlayer({
    container: document.getElementById('dplayer'),
    video: {
        url: decodeURIComponent( '{{ url }}'),
        type:"hls"
    }
});
</script>
</html>